.page-section {
  padding: 0.5rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--blue {
    background-color: $mainBlue;
    color: #fff;
  }

  &--testimonials {
    background-color: $secondBlue;
    @mixin atLarge {
      background: url(https://source.unsplash.com/1600x900/?nature,water)
        no-repeat top center/cover;
    }
  }
}
